* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif ;
}

ul{
    list-style: none;
}

.container {
    width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
   }

.align-center { 
    align-items: center;
}

/* common elements ends */

/* nav starts */
nav{
    background-color: #02918b;
}
nav .logo {
    width: 40%;
}
nav .manu{
    width: 60%;
}

nav .manu ul{
    text-align: right;
}

nav .manu ul li{ 
    display: inline-block;
}

nav .manu ul li a{
    font-weight: 800;
    font-size: 12;
    text-transform: uppercase;
    color: white;
    padding: 26px 20px;
    display: inline-block;
}

/* nav ends */

/* banner start */
#banner {
    height: 728px;
    background-size: cover;
    background-position: center;
    background-colo: rgba(255, 0, 0, 0.34);
    background-blend-mode: multiply;
    background-image: url(../image/banner\ \(1\).jpg);
    color: white;
    text-align: center;
}
#banner .banner_cnt{
    width: 100%;
}

#banner .row{
    height: 728px;
}
#banner .banner_cnt h2{
    font-weight: 400;
    font-size: 30px;
}
#banner .banner_cnt h1{
    font-weight: 800;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 30px;
}
#banner .banner_cnt p{
    font-size: 18px;
    font-weight: 400;
} 
#banner .banner_cnt img{
    margin: 50px 0;
}
#banner .banner_cnt a{
    background-color: #cfc91d;
    color: #0b1016;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 43px;
    display: inline-block;
    margin-top: 20px;
    transition: 0.5s;
}
#banner .banner_cnt a:hover {
    background-color: #918d18;
    color: white;
}
/* banner end */